<!doctype html>
{% set active_page = "index" %}

<title>{% block title %}{% endblock %}{{ title }} - Web Travel Journal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='lovebirds_ico.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='water-light.css') }}">

<nav>
  <div class="top-row">
    <div class="logo"><img src="{{ url_for('static', filename='lovebirds_ico.ico') }}" width="80" /></div>
    <h1 class="site-title">Web Travel Journal</h1>

    <div class="account-menu">
      <ul>
        {% if g.user %}
          <li><span>Heyya, {{ g.user['full_name'] or g.user['username'] }}</span></li>
          <li class="{{ 'active' if request.path == '/user' }}"><a href="{{ url_for('main.user_account') }}">Account Management</a></li>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
          <li class="{{ 'active' if request.path == '/auth/register' }}"><a href="{{ url_for('auth.register') }}">Register</a></li>
          <li class="{{ 'active' if request.path == '/auth/login' }}"><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  <ul class="main-menu">
    <li class="{{ 'active' if request.path == '/' }}"><a href="{{ url_for('main.index') }}">Home</a></li>
    <li class="{{ 'active' if request.path == '/places' }}"><a href="{{ url_for('main.places') }}">Places:</a></li>
  {% if g.user %}
    <li class="{{ 'active' if request.path.startswith('/places/edit') }}"><a href="{{ url_for('main.add_edit_place') }}"><i>Add</i></a></li>
    <li class="{{ 'active' if request.path == '/travels' }}"><a href="{{ url_for('main.travels') }}">My travels:</a></li>
    <li class="{{ 'active' if request.path.startswith('/travels/edit') }}"><a href="{{ url_for('main.add_edit_travel') }}"><i>Add</i></a></li>
    <li class="{{ 'active' if request.path == '/photos' }}"><a href="{{ url_for('main.photos') }}">Photos</a></li>
  {% endif %}
  {% if g.user and g.user.is_admin %}
    <li class="{{ 'active' if request.path.startswith('/admin') }}"><a href="{{ url_for('admin.list_users') }}">Admin</a></li>
  {% endif %}
  </ul>

  <!-- Admin submenu -->
  {% if g.user.is_admin and request.path.startswith('/admin') %}
  <ul>Admin menu:
    <li class="{{ 'active' if request.path == '/admin/users/list' }}"><a href="{{ url_for('admin.list_users') }}">Users</a></li>
    <li class="{{ 'active' if request.path == '/admin/continents/list' }}"><a href="{{ url_for('admin.list_continents') }}">Continents:</a></li>
    <li><a href="{{ url_for('admin.add_edit_continent') }}"><i>Add</i></a></li>

    <li class="{{ 'active' if request.path == '/admin/countries/list' }}"><a href="{{ url_for('admin.list_countries') }}">Countries:</a></li>
    <li><a href="{{ url_for('admin.add_edit_country') }}"><i>Add</i></a></li>
  </ul>
  {% endif %}
</nav>

<section class="content">
  <header>
    {{ header }}
    {% block header %}{% endblock %}
  </header>
  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="flash {{category}}">
      <code>{{ message }}</code>
    </div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>