{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <label for="username">Username*</label>
    <input name="username" id="username" value="{{form['username']}}" required>

    <label for="full_name">Full name</label>
    <input name="full_name" id="full_name" value="{{form['full_name']}}">

    <label for="email">Email*</label>
    <input type="email" name="email" id="email" value="{{form['email']}}" required>

    <label for="password">Password*</label>
    <input type="password" name="password" id="password" required>

    <label for="password2">Password*</label>
    <input type="password" name="password2" id="password2" required>

    <input type="submit" value="Register">
  </form>
{% endblock %}