{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Admin: Add or edit continent{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post">
    <input type="hidden" name="id" id="id" value="{{ continent.id }}">

    <label for="name">Name</label>
    <input name="name" id="name" value="{{ continent.name or request.form.get('name', '') }}">

    <label for="status">Status</label>
    <select name="status" id="status">
    {% for status in field_statuses %}
      <option value="{{ status }}" {{ 'selected' if continent and continent.status == status or not continent and status == 'active' }}>{{ status }}
    {% endfor %}
    </select>
    <br/>

    <label for="deleted">Deleted</label>
    <input type="checkbox" name="deleted" id="deleted" {{ 'checked' if continent.deleted }}>
    <br/><br/>
    <input type="submit" value="Save changes">
  </form>
{% endblock %}